{
    'extends': 'eslint-config-airbnb',
    'parser': "babel-eslint",
    'env': {
        'browser': true,
        'node': true,
        'mocha': true
    },
    'rules': {
        'new-cap': [2, { 'capIsNewExceptions': ['List', 'Map', 'Set'] }],
        'max-len': ['error', 150],
        'react/no-multi-comp': 0,
        'import/default': 0,
        'import/no-duplicates': 0,
        'import/named': 0,
        'import/namespace': 0,
        'import/no-unresolved': 0,
        'import/no-named-as-default': 2,
        'react/forbid-prop-types': 0,
        'react/require-default-props': [0],
        'react/jsx-filename-extension': 0,
        'react/jsx-indent': [2, 4],
        'react/jsx-indent-props': [2, 4],
        'jsx-a11y/click-events-have-key-events': 0,
        'comma-dangle': [2, 'never'],  // not sure why airbnb turned this on. gross!
        'indent': [2, 4, {'SwitchCase': 1}],
        'no-console': 0,
        'no-alert': 0
    },
    'plugins': [
        'react', 'import'
    ],
    'settings': {
        'import/parser': 'babel-eslint',
        'import/resolve': {
            'moduleDirectory': ['node_modules', 'src']
        }
    }
}
