.demo-root {
  margin: 0;
  width: 100%;
}
.demo-wrapper {
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.demo-content {
    width: calc(100% - 630px);
    margin-right: 10px;
    border: 1px solid #F1F1F1;
    min-height: 600px;
}

.demo-display {
  padding: 5px;
  height:600px;
  width: 600px;
}
.no-focus:focus {
  outline: none;
}

.base-card {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    height: 55px;
    display: flex;
    flex-flow: row;
    padding: 5px;
}

.base-card-left {
    margin-right: 10px;
}
.base-card-name {
    font-size: 1.2em;
    line-height: 1.5em;
}
.base-card-author {
    margin-left: 20px;
    font-size: 1em;
    color: ##3eb9e6;
}
.base-card-des {
    color: #666666;
    overflow: hidden;
    height: 25px;
}
